@font-face{
  font-family: comical;
  src: url('../fonts/animeace2_reg.otf');
}


body {
	background-color: black;
}

.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 50px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
}

.ryu {
	float: left;
	width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  background-repeat: no-repeat;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  float: left;
  position: absolute;
  z-index: 10;
  top: 170px;
  left: 650px;
}


.instructions {
  font-family: comical;
  font-size: 1.6em;
  line-height: 1.5;
  float:left;
  width: 600px;
  margin-top: 4em;
  margin-left: -100px;
}

.instructions p:first-child {
  margin-right: 310px;
}

.instructions p:last-child {
  margin-top: 0.5em;
  margin-left: 310px;
}
